.container{
    width: 100%;
    height: 100%;

    background: #282c34;

    color: #d68c8c;
    caret-color: #d68c8c;

    display: flex;
    flex-direction: column;
}

.textareaContainer{
    width: 100%;
    height: 80%;
    outline: none;

    font-family: Consolas, monaco, monospace;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    box-sizing: border-box;

    overflow: scroll;
}

.button{
    height: 10%;
    box-sizing: border-box;
    cursor: pointer;
}

.fieldRow{
    background: #465d7e;
}

.select{
    margin: 5px;

    font-size: 15px;
}

.tab{
    margin-left: 2em;
}

.red{
    color: #b33737;
}
