.text{
    color: #282c34;
}

.container{
    overflow: scroll;
    height: 100%;
    /*font-family: 'Source Code Pro', monospace;*/
    font-family: Consolas, monaco, monospace;
    width: 100%;
    margin-left: 10px;
}

.panel{
    border: 1px solid black;

    margin: 10px;
    padding: 5px;
}

.panelHeader{
    display: flex;
    justify-content: space-between;
}
