.container{
    display: flex;
    justify-content: space-evenly;
    position: absolute;

    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    user-select: none;

    overflow: hidden;
}

.ideContainer{
    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
}



.dragger{
    width: 20px;
    min-width: 20px;
    display: flex;
    justify-content: center;
}

.dragger:hover{
    cursor: ew-resize;
}

.draggerVisiblePart{
    height: 100%;
    width: 1px;
    background: black;
}

.addressContainer{
    height: 5%;
    border: 1px solid black;
    box-sizing: border-box;
    width: 100%;
}

.queryContainer{
    height: 95%;
    box-sizing: border-box;
    width: 100%;
}

.buttonContainer{

    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 50px;
}

.schemaButton{
    cursor: pointer;
    opacity: .5;

    transition: opacity .3s;
}

.schemaButton:hover{
    opacity: 1;
}

.schemaButtonActive{
    cursor: pointer;
}

.contentContainer{
    background: #e4ebf5;
    box-shadow: 2px 2px 19px 1px rgba(0,0,0,0.75);
    min-width: 350px;
}

.schemaContainer{
    position: absolute;
    height: 100%;
    right: 0;
    display: flex;
}

.schemaSvg{
    color: #d6d0d0;

    background: linear-gradient(45deg, #35ac6a, #247c4e);
    border-radius: 5px 0 0 5px;
}

.handler{
    height: 100%;
    display: flex;
    justify-content: center;
    border: 2px solid #46a0e5;
}

.hitArea{
    width: 10px;
    height: 100%;
    position: absolute;

    cursor: e-resize;
}
