.keyword{
    color: #080896;
    font-style: italic;
}

.typeField{
    margin-left: 30px;
}

.typeContainer{
    margin-top:20px;
    margin-bottom: 20px;
}

.typeLabel{
    color: #135f13;
}

.typeLabelHover:hover{
    text-decoration: underline;
}

.enumField{
    color: #8d2e02;
}

.paramName{
    color: #a20c0c;
}

.tab{
    margin-left: 1.5em;
}

.marker{
    background-color: yellowgreen;
}

