.active{
    color: #ff2255;
    font-weight: bold;
}

.container{
    margin-top: 5px;
}

.button{
    width: 20px;
    margin-right: 3px;
}

.queryFieldLabel{
    color: #35ac6a;

    font-size: 13px;
}

.inputFieldLabel{
    color: #1d6196;

    font-size: 13px;
}
